.homeContainer {
  display: grid;
  grid-template-columns: 0 minmax(200px, 800px) 0;
  grid-template-rows: 30px 1fr 30px;
  height: 100%;
  justify-content: center;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat {
  height: calc(100vh - 180px);
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-gap: 20px;
  background-color: white;
  padding: 15px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 0;
  border-radius: 10px;
  border: 3px solid black;
  width: calc(100% - 60px);
  min-width: 200px;
}

.logo {
  position: sticky;
  width: 154px;
  aspect-ratio: 204 / 38;
}

.footerMessage {
  font-size: 12px;
  font-weight: 100;
  font-family: 'Chakra Petch', sans-serif;
  justify-self: center;
  align-self: center;
}