.introMessage {
  background-color: #ffffff;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  padding: 40px 20px;
  padding-top: 20px;
  max-height: 400px;
  max-width: 400px;
  justify-self: center;
  align-self: center;
  overflow-y: scroll;
}

.moto {
  font-size: 18px;
  font-weight: 800;
  max-width: 250px;
  justify-self: center;
  padding: 5px;
  display: inline;
}

.step {
  font-size: 16px;
  font-weight: 400;
  max-width: 300px;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}

.bold {
  font-weight: 600;
}

.normal {
  font-weight: 400;
  font-size: 14px;
}